/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1;
}

header {
  background: #fbfaec;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 40px;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #46433b;
  font-weight: bold;
}

.section {
  padding: 100px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 30px;
}

#gallery {
  background-color: #fbfaec;
}
.cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #46433b;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.gallery-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.image-gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}

#contact {
  background-color: #abc399;
  margin: 0;
}
#contact h2 {
  font-size: 28px;
  margin-bottom: 40px;
}



form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fbfaec;
  
}

form textarea {
  height: 120px;
  background-color: #fbfaec;
}

form button {
  padding: 10px 20px;
  background: #46433b;
  color: #fbfaec;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  background: #46433b;
  color: #fbfaec;
  padding: 20px;
  text-align: center;
}



.home-section {
  background-image: url('https://images.unsplash.com/photo-1601654253194-260e0b6984f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1999&q=80');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

.home-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-section p {
  font-size: 18px;
  margin-bottom: 0;
}

.view-more-btn {
  background-color: #fbfaec;
  color: #46433b;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  ;
}

.view-more-btn:hover {
  background-color: #46433b;
  color: #fbfaec;
}

#services {
  background-color: #abc399;
  margin: 0;
}
.services-section {
  text-align: center;
  padding: 100px 0;
}

.services-section h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.service {
  text-align: center;
  background-color: #fbfaec;
  border-radius: 12px;
}

.service img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.service-content p {
  margin: 10px;
}

.service-content h3 {
  margin-top: 10px;
}

#about {
background-color: #fbfaec;
margin: 0;
place-items: center;
padding: 50px;
}

#about h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.about-section {
  display: flex;
}

.about-content {
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-align: justify;
  padding-right: 40px;
}

.text {
  color: #46433b;
  font-size: 17px;
}

.image {
  flex: 1;
  background-image: url('https://images.unsplash.com/photo-1450297428000-5f0b50540da9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
  background-position: center;
  height: 500px; /* Điều chỉnh chiều cao theo ý muốn */
  width: 200px; 
  width: 50%;
} 






